@page
@model CoffeeShopManager.Pages.Products.EditModel

<h4>Chỉnh sửa sản phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />

            <div class="form-group">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Description"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.CategoryId"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Hình ảnh hiện tại</label><br />
                @if (!string.IsNullOrEmpty(Model.Product.ImagePath))
                {
                    <img src="@Model.Product.ImagePath" alt="Current Image" width="120" class="img-thumbnail" />
                }
                else
                {
                    <span class="text-muted">Không có ảnh</span>
                }
            </div>

            <div class="form-group">
                <label>Chọn ảnh mới (nếu thay đổi)</label>
                <input type="file" name="ImageFile" class="form-control" />
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary ms-2">Hủy</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
